<a href="https://colab.research.google.com/github/chaw-thiri/DatabaseCourse/blob/main/its_table_creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import sqlite3
import random
import pandas as pd

In [68]:
# Function to connect to the database
def connect_to_db(db_name):
    try:
        conn = sqlite3.connect(db_name)
        print(f"Connected to {db_name} successfully.")
        return conn
    except sqlite3.Error as e:
        print(f"Error occurred: {e}")
        return None

In [69]:
# Function to create tables in the database
def create_tables(conn):
    try:
        # creating FATL and STLVT tables first because they do not have foreign keys
        cursor = conn.cursor()
        cursor.execute('''
        CREATE TABLE "FATL" (
        "license" CHARACTER NOT NULL,
        expiration_date INTEGER NOT NULL,
        level INTEGER NOT NULL,
        PRIMARY KEY("license")
        );
        ''')

        cursor.execute('''
        CREATE TABLE "STLVT" (
        id INTEGER,
        level INTEGER NOT NULL,
        expiration_date INTEGER NOT NULL,
        authority TEXT NOT NULL,
        PRIMARY KEY(id)
        );
        ''')

        cursor.execute('''
        CREATE TABLE "booking service" (
        reference_id INTEGER NOT NULL,
        driver_id CHARACTER NOT NULL,
        driver_language CHARACTER NOT NULL,
        driver_location_id INTEGER NOT NULL,
        "game official_id" CHARACTER NOT NULL,
        "game official_language" CHARACTER NOT NULL,
        start_time DATETIME NOT NULL,
        end_time DATETIME NOT NULL,
        odometer INTEGER NOT NULL,
        location_id INTEGER NOT NULL,
        "vehicle_id" CHARACTER NOT NULL,
        "vehicle_avalilabe_time" DATETIME NOT NULL,
        "vehicle_status" BOOLEAN NOT NULL,
        PRIMARY KEY(reference_id),
        CONSTRAINT "driver_booking_service"
            FOREIGN KEY (driver_id, driver_language, driver_location_id)
            REFERENCES driver (id, language, location_id),
        CONSTRAINT "game_official_booking_service"
            FOREIGN KEY ("game official_id", "game official_language")
            REFERENCES "game official" (id, language),
        CONSTRAINT "location_booking_service"
            FOREIGN KEY (location_id) REFERENCES location (id),
        CONSTRAINT "vehicle_booking_service"
            FOREIGN KEY ("vehicle_id", "vehicle_avalilabe_time", "vehicle_status")
            REFERENCES "vehicle" (id, "avalilabe_time", status)
        );
        ''')

        cursor.execute('''
        CREATE TABLE country (
        name TEXT NOT NULL,
        language CHARACTER NOT NULL,
        PRIMARY KEY(name)
        );
        ''')

        cursor.execute('''
        CREATE TABLE driver (
        id CHARACTER NOT NULL,
        name TEXT NOT NULL,
        phone CHARACTER NOT NULL,
        driving_license TEXT NOT NULL,
        clearance_level INTEGER NOT NULL,
        "gender" CHARACTER NOT NULL,
        "FATL_license" CHARACTER,
        "STLVT_id" INTEGER,
        language CHARACTER NOT NULL,
        location_id INTEGER NOT NULL,
        PRIMARY KEY(id, language, location_id),
        CONSTRAINT "FATL_driver"
            FOREIGN KEY ("FATL_license") REFERENCES "FATL" ("license"),
        CONSTRAINT "STLVT_driver"
            FOREIGN KEY ("STLVT_id") REFERENCES "STLVT" (id),
        CONSTRAINT location_driver
            FOREIGN KEY (location_id) REFERENCES location (id)
        );
        ''')

        cursor.execute('''
        CREATE TABLE "game official" (
        id CHARACTER NOT NULL,
        name TEXT NOT NULL,
        role TEXT NOT NULL,
        language CHARACTER NOT NULL,
        "phone number" TEXT NOT NULL,
        gmail TEXT NOT NULL,
        kakao_id TEXT NOT NULL,
        country_name CHARACTER NOT NULL,
        city_id INTEGER NOT NULL,
        city_name CHARACTER NOT NULL,
        location_id INTEGER NOT NULL,
        PRIMARY KEY(id, language),
        CONSTRAINT "country_game_official"
            FOREIGN KEY (country_name) REFERENCES country (name),
        CONSTRAINT "location_game_official"
            FOREIGN KEY (location_id) REFERENCES location (id)
        );
        ''')

        cursor.execute('''
        CREATE TABLE location (
        id INTEGER NOT NULL,
        address TEXT NOT NULL,
        category TEXT NOT NULL,
        PRIMARY KEY(id)
        );
        ''')

        cursor.execute('''
        CREATE TABLE maintenance (
        "maintenance_id" CHARACTER NOT NULL,
        "vehicle_id" CHARACTER NOT NULL,
        category TEXT NOT NULL,
        odometer INTEGER NOT NULL,
        cost REAL NOT NULL,
        date DATE NOT NULL,
        "action" TEXT NOT NULL,
        "vehicle_avalilabe_time" DATETIME NOT NULL,
        "vehicle_status" BOOLEAN NOT NULL,
        PRIMARY KEY("maintenance_id", "vehicle_id"),
        CONSTRAINT "vehicle_maintenance"
            FOREIGN KEY ("vehicle_id", "vehicle_avalilabe_time", "vehicle_status")
            REFERENCES "vehicle" (id, "avalilabe_time", status)
        );
        ''')

        cursor.execute('''
        CREATE TABLE "vehicle" (
        id CHARACTER NOT NULL,
        "registration_id" CHARACTER NOT NULL,
        manufacturer TEXT NOT NULL,
        model TEXT NOT NULL,
        color TEXT NOT NULL,
        "current_odometer" INTEGER NOT NULL,
        "passenger_capacity" INTEGER NOT NULL,
        "avalilabe_time" DATETIME NOT NULL,
        location_id INTEGER NOT NULL,
        status BOOLEAN NOT NULL,
        PRIMARY KEY(id, "avalilabe_time", status),
        CONSTRAINT "location_vehicle"
            FOREIGN KEY (location_id) REFERENCES location (id)
        );
        ''')

    except sqlite3.Error as e:
        # Roll back the transaction in case of an error
        conn.rollback()
        print(f"Error occurred: {e}")

In [70]:
# Function to list all the tables in the database
def list_tables(conn):
    try:
        # Create a cursor object
        cursor = conn.cursor()

        # SQL query to fetch all tables
        cursor.execute('''
        SELECT name FROM sqlite_master WHERE type="table";
        ''')

        # Fetch all the tables
        tables = cursor.fetchall()

        # Display table names
        for table in tables:
            print(f"Table: {table[0]}")

    except sqlite3.Error as e:
        print(f"Error occurred: {e}")

In [71]:
if __name__ == "__main__":
    db_name = 'its_company.db'
    conn = connect_to_db(db_name)
    create_tables(conn)
    list_tables(conn)
    conn.close()

Connected to its_company.db successfully.
Table: FATL
Table: STLVT
Table: booking service
Table: country
Table: driver
Table: game official
Table: location
Table: maintenance
Table: vehicle